@font-face {
    font-family: 'unscii-16';
    src: url('./unscii-16-full.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
            url('./unscii-16-full.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    font-weight: 400;
}
.screen {
    font-size: min(calc(200cqw / var(--cols)), calc(100cqh / var(--rows)));
    max-width: 100cqw;
    max-height: 100cqh;
    aspect-ratio: calc(var(--cols) / var(--rows) / 2);
    white-space: nowrap;
    background: black;
    color: lightgray;
    font-family: 'unscii-16', monospace;
    font-synthesis: none;
    font-weight: bold;
    white-space-collapse: preserve;
}
.screen:focus {
    outline: 4px solid #44abff;
}
.row {
    overflow: visible;
    min-width: 0;
    min-height: 0;
    line-height: 1;
}
